@model IEnumerable<eGym.Models.UserModel>
@{
    ViewData["Title"] = "Clients";
    bool Admin = User.IsInRole("admin");
    bool Employee = User.IsInRole("employee");
}

<div class="text-center">
    <h1 class="display-3">Clients</h1>
</div>
<br />
@if (Employee || Admin)
{
    <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Enter name or last name">
    </div>
    <br />
}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            @if (Admin)
            {
                <th>
                    Id
                </th>
            }
            <th>
                Name
            </th>
            <th>
                Last name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Username
            </th>
            <th>
                Phone number
            </th>
            <th>
                Address
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Admin || Employee)
        {
            @foreach (var item in Model)
            {
                <tr>
                    @if (Admin)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        <a href="/User/Details?id=@item.Id" class="btn btn-primary">Details</a>
                        @if (Admin)
                        {
                            <a href="/User/EditUser?id=@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="User" asp-action="ResetPasswordAdmin" asp-route-id="@item.Id" class="btn btn-info">Reset Password</a>
                            <a onclick="return window.confirm('Are you sure you want to delete the specified record?')" href="/User/Delete?id=@item.Id" class="btn btn-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#search").on("input", function () {
                var searchValue = $(this).val().toLowerCase();
                $("tbody tr").each(function () {
                    var fullName = ($(this).find("td:eq(1)").text() + " " + $(this).find("td:eq(2)").text()).toLowerCase();
                    if (fullName.includes(searchValue)) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
}